.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.row {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
}

.grades {
    display: flex;
    gap: 0.5rem;
}